<html>
    <body>
        
    
<% for (var d=0;d<docs.length;d++){%>
    <h1><%= docs[d].name %></h1>
    <h1>Hello, <%= docs[d].code %></h1>
   <h1>Hello, <%=docs[d].category %></h1> 
    <% } %>

  

</body>
    </html>